# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a

screenshot-*.bmp
*.trace
*.kdev4
*.d
runtime/tests/drawelements/drawelements
runtime/tests/lesson05/lesson05
runtime/tests/texture/texture
runtime/cgl-render
src/cgl-render
